.body {
    position: relative;
    margin: 6vh 5vw 0 7vw;
}

h1 {
    color: rgb(0, 30, 75);
    font-size: 3rem;
}

p {
    color: rgb(0, 30, 75);
    margin: 2.5rem;
    font-size: 2rem;
    font-family: sans-serif;
}
