.header {
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    // color: rgb(255, 219, 247);
    color: white;
    background-color: rgba(49, 15, 77, 0.3);
    // position: fixed;
    // top: 0;
    border-bottom: .25rem solid black;
}

.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // color:rgb(255, 248, 219);
    font-size: 4.25rem;
    // font-family: 'Quintessential', cursive;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: .54rem;
    margin: 2rem 0;
}

app-navbar {
    margin: 0 4rem 2rem;
    // letter-spacing: .3rem;
    // font-family: 'Quintessential', cursive;
    font-weight: 100;
    font-size: 1.25rem;
}
