.body {
    position: relative;
    margin: 6vh 0 0 7vw;
}

h1 {
    color: rgb(139, 255, 218);
    font-size: 3rem;
}

p {
    color: rgb(202, 223, 255);
    margin: 3rem;
    font-size: 2rem;
    font-family: sans-serif;
}
