* {
    margin: 0;
    padding: 0;
}

html {
    font-size: calc(.65vmin + .35vw);
}

body {
    background-color: rgb(255, 253, 235);
}

app-root {
    position: absolute;
    width: 100%;
    overflow-x: hidden;
}

app-footer {
    display: flex;
    min-width: 100vw;
    max-width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
    fill: rgb(221, 201, 188);
}

.content {
    position: relative;
    margin: 6vh 5vw 0 7vw;
}

h1 {
    color: rgb(0, 30, 75);
    font-size: 3rem;
}

p {
    color: rgb(0, 30, 75);
    margin: 2.5rem;
    font-size: 2rem;
    font-family: sans-serif;
}

.logo {
    color:rgb(49, 15, 77);
}

a {
    font-size: 2.5rem;
    text-decoration: none;
    color:rgb(49, 15, 77);
    border-bottom: .12rem solid transparent;

    &:hover {
        color: rgb(103, 56, 141);
        border-bottom: .12rem solid rgb(103, 56, 141);
    }
}

.active, .active:hover {
    color:rgb(0, 30, 75);
    border-bottom: .12rem solid rgb(0, 30, 75);
    cursor: default;
}
