@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: calc(.65vmin + .35vw);
    background-color: rgb(255, 253, 235);
}

body {
    font-family: "Arial", sans-serif;
    font-weight: 500;
}

.wrap {
    background: no-repeat url('./assets/forest.png') rgb(255, 253, 235) center bottom/101% fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.publications-wrap {
    background: no-repeat url('./assets/forest.png') rgb(255, 253, 235) center bottom/101% fixed;
}

.commissions-wrap {
    background: no-repeat url('./assets/big-tree.png') rgb(255, 253, 235) center bottom/101% fixed;
}

.events-wrap {
    background: no-repeat url('./assets/diagonal-forest.png') rgb(255, 253, 235) center bottom/101% fixed;
}

.about-wrap {
    background: no-repeat url('./assets/winter-forest.png') rgb(255, 253, 235) center bottom/101% fixed;
}

.contact-wrap {
    background: no-repeat url('./assets/deciduous-forest.png') rgb(255, 253, 235) center bottom/101% fixed;
}

app-footer {
    display: flex;
    min-width: 100vw;
    max-width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
    fill: rgb(221, 201, 188);
}

.content {
    position: relative;
    margin: 6vh 5vw 0 7vw;
}

h1 {
    font-family: "Times New Roman", serif;
    font-weight: 600;
    color: rgb(0, 30, 75);
    font-size: 3rem;
}

p {
    color: rgb(0, 30, 75);
    margin: 2.5rem;
    font-size: 2.4rem;
    line-height: 3rem;
}

a {
    font-size: 3rem;
    text-decoration: none;
    color:rgb(49, 15, 77);
    border-bottom: .12rem solid transparent;

    &:hover {
        color: rgb(103, 56, 141);
        text-decoration: none;
        border-bottom: .12rem solid rgb(103, 56, 141);
    }
}

.active, .active:hover {
    color:rgb(0, 30, 75);
    border-bottom: .12rem solid rgb(0, 30, 75);
    cursor: default;
    text-decoration: none;
}
